{% extends "layout.html" %}
{% block title %}Editar Equipo{% endblock %}
{% block head %}
  {{super()}}
{% endblock %} 
{% block content %}
<a class="flex rounded-md relative w-fit" href="{{url_for('teams.index')}}" alt="volver a pagos">
  <span class="material-symbols-outlined">
    arrow_back
  </span>
  <span class="material-symbols-rounded">
    groups
  </span>
</a>
    <h1 class="text-center text-2xl font-bold my-4">Editando miembro del equipo "{{member.nombre}}"</h1>
    
<div class="w-full max-w-6xl mx-auto p-6 bg-white rounded-lg shadow-md">
  {% if errors %}
  {% for error in errors %}
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
      <strong class="font-bold">Error!</strong>
      <span class="block sm:inline">{{ errors }}</span>
    </div>
    {% endfor %} 
    {% endif %}
    


    <form class="flex flex-col space-y-3" method="post">
        
       
        <div class="min-w-[120px] w-full sm:w-auto">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" id="nombre" placeholder="{{member.nombre}}" name="nombre" class="form-input p-2 border rounded w-full" />
        </div>
        

        <div class="min-w-[120px] w-full sm:w-auto">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" id="apellido" name="apellido" placeholder="{{member.apellido}}" class="form-input p-2 border rounded w-full" />
        </div>
        
    
         <div class="min-w-[120px] w-full sm:w-auto">
            <label for="profesion" class="form-label">Profesión</label>
            <select id="profesion" name="profesion" class="form-input p-2 border rounded w-full">
                {% for profession in professions %}
                <option value="{{ profession.name }}" {% if profession.name == member.profesion.name %} selected {% endif %}>{{ profession.value }}</option>
                {% endfor %}
            </select>
        </div>
  
        <div class="min-w-[120px] w-full sm:w-auto">
            <label for="puesto_laboral" class="form-label">Puesto Laboral</label>
            <select id="puesto_laboral" name="puesto_laboral" class="form-input p-2 border rounded w-full">
                {% for position in positions %}
                <option value="{{ position.name }}" {% if position.name == member.puesto_laboral.name %} selected {% endif %}>{{ position.value }}</option>
                {% endfor %}
            </select>
        </div>
        
     
        <div class="min-w-[120px] w-full sm:w-auto">
            <label for="condicion" class="form-label">Condición</label>
            <select id="condicion" name="condicion" class="form-input p-2 border rounded w-full">
                {% for condition in conditions %}
                <option value="{{ condition.name }}" {% if condition.name == member.condicion.name %} selected {% endif %}>{{ condition.value }}</option>
                {% endfor %}
            </select>
        </div>
        
      
        <div class="min-w-[120px] w-full sm:w-auto">
            <label for="activo" class="form-label">Estado</label>
            <select id="activo" name="activo" class="form-input p-2 border rounded w-full">
                <option value="on" {% if member.activo %}selected{% endif %}>Activo</option>
                <option value="" {% if not member.activo %}selected{% endif %}>Inactivo</option>
            </select>
        </div>

     
        <div class="min-w-[120px] w-full sm:w-auto">
            <label for="numero_emergencia" class="form-label">Numero de emergencia</label>
            <input type="number" id="numero_emergencia" placeholder="{{member.numero_emergencia}}" name="numero_emergencia" class="form-input p-2 border rounded w-full  [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none" />
        </div>
        
      
        <div class="min-w-[120px] w-full sm:w-auto">
            <label for="nombre_emergencia" class="form-label">Propietario del numero de emergencia</label>
            <input type="text" id="nombre_emergencia" placeholder="{{member.nombre_emergencia}}" name="nombre_emergencia" class="form-input p-2 border rounded w-full" />
        </div>
   
        <div class="flex justify-end"> 
            <a href="{{url_for('teams.index')}}" 
            class="relative text-blue-400 hover:border hover:rounded-lg hover:bg-gray-100 px-4 py-2 mx-5 flex items-center transition duration-300 ease-in-out transform hover:scale-105 active:scale-95">
                Cancelar
            </a>
            <button type="submit" 
            class="relative text-white hover:text-white hover:bg-blue-500 flex items-center border border-blue-500 rounded-lg bg-blue-400 p-2 transition duration-300 ease-in-out shadow-md transform hover:scale-105 active:scale-95">
                <span class="material-symbols-rounded">save</span>
								Guardar cambios
            </button>
        </div>
    </form>
</div>
{% endblock %}
