{% extends "layout.html" %} {% block title %}Crear miembro{% endblock %} {%
block head%} {{ super() }} {% endblock %} {% block content%}
<a
	class="flex rounded-md relative w-fit"
	href="{{url_for('teams.index')}}"
	alt="volver a equipo">
	<span class="material-symbols-outlined"> arrow_back </span>
	<span class="material-symbols-rounded"> groups </span>
</a>
<h1 class="text-center text-2xl font-bold my-4">
	Agregando nuevo miembro al equipo
</h1>
<div class="w-full max-w-lg mx-auto p-6 bg-white rounded-lg shadow-md">
	<form
		action="{{url_for('teams.create')}}"
		method="post"
		class="flex flex-col space-y-3">
		<div class="flex flex-col gap-4">
			<div class="flex-1 min-w-[120px] w-full sm:w-auto">
				<label
					for="dni"
					class="form-label mt-2">
					DNI
				</label>
				<input
					type="number"
					id="dni"
					name="dni"
					max="100000000"
					class="form-input p-2 border rounde w-full [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none border-gray-300"
					required />
				{% if errors.get('dni') %}
				<p class="text-red-500 text-xs italic">{{ styled(errors['dni']) }}</p>
				{% endif %}
			</div>
			<div class="flex-1 min-w-[120px] w-full sm:w-auto">
				<label
					for="nombre"
					class="form-label">
					Nombre
				</label>
				<input
					type="text"
					id="nombre"
					name="nombre"
					class="form-input p-2 border rounded w-full border-gray-300"
					required />
				{% if errors.get('nombre') %}
				<p class="text-red-500 text-xs italic">
					{{ styled(errors['nombre']) }}
				</p>
				{% endif %}
			</div>
			<div class="flex-1 min-w-[120px] w-full sm:w-auto">
				<label
					for="apellido"
					class="form-label">
					Apellido
				</label>
				<input
					type="text"
					id="apellido"
					name="apellido"
					class="form-input p-2 border rounded w-full border-gray-300"
					required />
				{% if errors.get('apellido') %}
				<p class="text-red-500 text-xs italic">
					{{ styled(errors['apellido']) }}
				</p>
				{% endif %}
			</div>
			<div class="flex-1 min-w-[120px] w-full sm:w-auto">
				<label
					for="localidad"
					class="form-label">
					Localidad
				</label>
				<input
					type="text"
					id="localidad"
					name="localidad"
					class="form-input p-2 border rounded w-full border-gray-300"
					required />
				{% if errors.get('localidad') %}
				<p class="text-red-500 text-xs italic">
					{{ styled(errors['localidad']) }}
				</p>
				{% endif %}
			</div>
			<div class="flex-1 min-w-[120px] w-full sm:w-auto">
				<label
					for="domicilio"
					class="form-label">
					Domicilio
				</label>
				<input
					type="text"
					id="domicilio"
					name="domicilio"
					class="form-input p-2 border rounded w-full border-gray-300"
					required />
				{% if errors.get('domicilio') %}
				<p class="text-red-500 text-xs italic">
					{{ styled(errors['domicilio']) }}
				</p>
				{% endif %}
			</div>
			<div class="flex-1 min-w-[120px] w-full sm:w-auto">
				<label
					for="telefono"
					class="form-label">
					N&uacute;mero telef&oacute;nico
				</label>
				<input
					type="number"
					id="telefono"
					name="telefono"
					class="form-input p-2 border rounded w-full border-gray-300 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none"
					required />
				{% if errors.get('telefono') %}
				<p class="text-red-500 text-xs italic">
					{{ styled(errors['telefono']) }}
				</p>
				{% endif %}
			</div>
			<div class="flex-1 min-w-[120px] w-full sm:w-auto">
				<label
					for="email"
					class="form-label">
					Mail
				</label>
				<input
					type="email"
					id="email"
					name="email"
					class="form-input p-2 border rounded w-full border-gray-300"
					required />
				{% if errors.get('email') %}
				<p class="text-red-500 text-xs italic">{{ styled(errors['email']) }}</p>
				{% endif %}
			</div>
			<div class="flex-1 min-w-[120px] w-full sm:w-auto">
				<label
					for="profesion"
					class="form-label">
					Profesión
				</label>
				<select
					id="profesion"
					name="profesion"
					class="form-input p-2 border rounded w-full border-gray-300"
					required>
					<option value="">Elige una opción...</option>
					{% for profession in professions %}
					<option value="{{ profession.name }}">{{ profession.value }}</option>
					{% endfor %}
				</select>
				{% if errors.get('profesion') %}
				<p class="text-red-500 text-xs italic">
					{{ styled(errors['profesion']) }}
				</p>
				{% endif %}
			</div>
			<div class="flex-1 min-w-[120px] w-full sm:w-auto">
				<label
					for="puesto_laboral"
					class="form-label">
					Puesto Laboral
				</label>
				<select
					type="text"
					id="puesto_laboral"
					name="puesto_laboral"
					class="form-input p-2 border rounded w-full border-gray-300"
					required>
					<option value="">Elige una opción...</option>
					{% for position in positions %}
					<option value="{{ position.name }}">{{ position.value }}</option>
					{% endfor %}
				</select>
				{% if errors.get('puesto_laboral') %}
				<p class="text-red-500 text-xs italic">
					{{ styled(errors['puesto_laboral']) }}
				</p>
				{% endif %}
			</div>
			<div class="flex-1 min-w-[120px] w-full sm:w-auto">
				<label
					for="fecha_inicio"
					class="form-label">
					Fecha inicio
				</label>
				<input
					type="date"
					id="fecha_inicio"
					name="fecha_inicio"
					class="form-input p-2 border rounded w-full border-gray-300"
					required
					min="1999-01-01" />
				{% if errors.get('fecha_inicio') %}
				<p class="text-red-500 text-xs italic">
					Ingrese una fecha v&aacute;lida
				</p>
				{% endif %}
			</div>
			<div class="flex-1 min-w-[120px] w-full sm:w-auto">
				<label
					for="numero_afiliado"
					class="form-label">
					Número de Afiliado
				</label>
				<input
					type="number"
					id="numero_afiliado"
					name="numero_afiliado"
					class="form-input p-2 border rounded w-full border-gray-300 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none"
					required />
				{% if errors.get('numero_afiliado') %}
				<p class="text-red-500 text-xs italic">
					{{ styled(errors['numero_afiliado']) }}
				</p>
				{% endif %}
			</div>
			<div class="flex-1 min-w-[120px] w-full sm:w-auto">
				<label
					for="condicion"
					class="form-label">
					Condición
				</label>
				<select
					type="text"
					id="condicion"
					name="condicion"
					class="form-input p-2 border rounded w-full border-gray-300"
					required>
					<option value="">Elige una opción...</option>
					{% for condition in conditions %}
					<option value="{{ condition.name }}">{{ condition.value }}</option>
					{% endfor %}
				</select>
				{% if errors.get('condicion') %}
				<p class="text-red-500 text-xs italic">
					{{ styled(errors['condicion']) }}
				</p>
				{% endif %}
			</div>
			<div class="min-w-[120px] w-full sm:w-auto">
				<label
					for="activo"
					class="form-label">
					Estado
				</label>
				<select
					id="activo"
					name="activo"
					class="form-input p-2 border rounded w-full border-gray-300"
					required>
					<option value="on">Activo</option>
					<option value="">Inactivo</option>
				</select>
			</div>
			<div class="flex-1 min-w-[120px] w-full sm:w-auto">
				<label
					for="numero_emergencia"
					class="form-label">
					Número de emergencia
				</label>
				<input
					type="number"
					id="numero_emergencia"
					name="numero_emergencia"
					class="form-input p-2 border rounded w-full border-gray-300 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none"
					required />
				{% if errors.get('numero_emergencia') %}
				<p class="text-red-500 text-xs italic">
					{{ styled(errors['numero_emergencia']) }}
				</p>
				{% endif %}
			</div>
			<div class="flex-1 min-w-[120px] w-full sm:w-auto">
				<label
					for="nombre_emergencia"
					class="form-label">
					Propietario del número de emergencia
				</label>
				<input
					type="text"
					id="nombre_emergencia"
					name="nombre_emergencia"
					class="form-input p-2 border rounded w-full border-gray-300"
					required />
				{% if errors.get('nombre_emergencia') %}
				<p class="text-red-500 text-xs italic">
					{{ styled(errors['nombre_emergencia']) }}
				</p>
				{% endif %}
			</div>
			<div class="flex self-end">
				<a
					href="{{url_for('teams.index')}}"
					class="relative text-blue-400 hover:border hover:rounded-lg hover:bg-gray-100 px-4 py-2 mx-5 flex items-center transition duration-300 ease-in-out transform hover:scale-105 active:scale-95">
					Cancelar
				</a>
				<button
					type="submit"
					class="relative text-white hover:text-white hover:bg-blue-500 flex items-center border border-blue-500 rounded-lg bg-blue-400 p-2 transition duration-300 ease-in-out shadow-md transform hover:scale-105 active:scale-95">
					<span class="material-symbols-rounded mr-2 text-white">save</span>
					Guardar
				</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}
