{% extends "layout.html" %} {% block head %} {{ super() }} {% endblock %} {%
block title %} Crear contenido {% endblock %} {% block content %}
<a
	class="flex w-fit rounded-md relative pb-2"
	href="{{ url_for('content.index') }}"
	alt="volver al listado">
	<span class="material-symbols-outlined">arrow_back</span>
	<span class="material-symbols-outlined">List_alt</span>
</a>

<h1 class="mb-2 flex justify-center text-3xl font-bold text-gray-800">
	Crear nuevo contenido
</h1>

<div
	class="w-full p-6 bg-white rounded-lg shadow-md relative flex flex-col space-y-4">
	<form
		method="POST"
		action="{{ url_for('content.new') }}"
		class="space-y-4 w-full">
		<div class="flex flex-col">
			<label
				for="titulo"
				class="text-xs font-semibold text-gray-700">
				Título
			</label>
			<textarea
				id="titulo"
				name="titulo"
				type="text"
				rows="2"
				placeholder="Escribe el título del contenido"
				class="resize-none text-wrap w-full sm:min-w-[20px] md:min-w-[600px] lg:min-w-[1000px] form-input mt-1 block rounded-md border-gray-300 shadow-sm text-gray-800 text-3xl font-bold"
				maxlength="100"
				oninput="updateTitleCharacterCount()"
				required></textarea>
			<div
				id="char-count"
				class="text-sm text-gray-500 mt-2">
				0/100 caracteres
			</div>
		</div>

		<div class="flex flex-col">
			<label
				for="copete"
				class="text-xs font-semibold text-gray-700">
				Copete
			</label>
			<textarea
				id="copete"
				name="copete"
				maxlength="200"
				rows="2"
				type="text"
				oninput="updateCopeteCharacterCount()"
				placeholder="Escribe un breve resumen"
				class="resize-none form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm text-gray-800 text-lg font-thin"
				required></textarea>
			<div
				id="copete-char-count"
				class="text-sm text-gray-500 mt-2">
				0/200 caracteres
			</div>
		</div>

		<div class="flex flex-col">
			<label
				for="contenido"
				class="text-xs font-semibold text-gray-700">
				Contenido
			</label>
			<textarea
				id="contenido"
				name="contenido"
				placeholder="Escribe el contenido completo"
				rows="6"
				class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm text-gray-700 text-base"
				required></textarea>
		</div>

		<label
			for="estado"
			class="form-label block font-medium mb-1"
			>Estado:</label
		>
		<div class="flex">
			<div class="flex items-center mb-2">
				<input
					type="radio"
					name="estado"
					id="estado_borrador"
					value="Borrador"
					class="hidden peer" />
				<label
					for="estado_borrador"
					class="ml-2 p-2 text-sm rounded cursor-pointer bg-opacity-70 bg-yellow-200 text-orange-700 peer-checked:bg-yellow-400 peer-checked:text-orange-800">
					Borrador
				</label>
			</div>

			<div class="flex items-center mb-2">
				<input
					type="radio"
					name="estado"
					id="estado_publicado"
					value="Publicado"
					class="hidden peer"
					checked />
				<label
					for="estado_publicado"
					class="ml-2 p-2 text-sm rounded cursor-pointer bg-opacity-70 bg-green-200 text-emerald-700 peer-checked:bg-green-400 peer-checked:text-emerald-800">
					Publicado
				</label>
			</div>

			<div class="flex items-center mb-2">
				<input
					type="radio"
					name="estado"
					id="estado_archivado"
					value="Archivado"
					class="hidden peer" />
				<label
					for="estado_archivado"
					class="ml-2 p-2 text-sm rounded cursor-pointer bg-opacity-70 bg-red-200 text-rose-700 peer-checked:bg-red-400 peer-checked:text-rose-800">
					Archivado
				</label>
			</div>
		</div>

		<div class="flex justify-end">
			<a
				href="{{url_for('content.index')}}"
				class="relative text-blue-400 hover:border hover:rounded-lg hover:bg-gray-100 px-4 py-2 mx-5 flex items-center transition duration-300 ease-in-out transform hover:scale-105 active:scale-95">
				Cancelar
			</a>
			<button
				type="submit"
				class="relative text-white hover:text-white hover:bg-blue-500 flex items-center border border-blue-500 rounded-lg bg-blue-400 p-2 transition duration-300 ease-in-out shadow-md transform hover:scale-105 active:scale-95">
				<span class="material-symbols-rounded mr-2 text-white">save</span>
				Guardar
			</button>
		</div>
	</form>
</div>
<script>
	function updateTitleCharacterCount() {
		const titleInput = document.getElementById('titulo');
		const charCount = document.getElementById('char-count');
		const maxLength = 100;
		const currentLength = titleInput.value.length;
		charCount.textContent = `${currentLength}/${maxLength} caracteres`;
	}
	function updateCopeteCharacterCount() {
		const titleInput = document.getElementById('copete');
		const charCount = document.getElementById('copete-char-count');
		const maxLength = 200;
		const currentLength = titleInput.value.length;
		charCount.textContent = `${currentLength}/${maxLength} caracteres`;
	}
</script>
{% endblock %}
