{% extends "layout.html" %}
{% block title %}Documentos del Jinete/Amazona{% endblock %}
{% block content %}
<a class="flex w-fit rounded-md  relative" href="{{url_for('riders.info', dni=rider.dni)}}" alt="volver al listado">
  <span class="mr-2 material-symbols-outlined">
    arrow_back
  </span>
  <span class="material-symbols-rounded">
    person
  </span>
  </a>
<h1 class="flex justify-center items-center text-center text-2xl font-bold my-4">Documentos de {{ rider.nombre }}</h1>
<div class=" w-full  mx-auto p-6 bg-white rounded-lg shadow-md">
        <div class="flex justify-center">
           <form action="{{ url_for('riders.showFiles', dni=rider.dni) }}" method="get" class="mb-4 w-full">
           <div class="flex flex-col sm:flex-row justify-center gap-4">
                <div class="w-full sm:w-1/3">
                        <label for="nombre" class=" form-label block font-medium mb-1">Nombre:</label>
                        <input type="text" name="nombre" placeholder="Nombre" value="{{ request.args.get('nombre', '') }}" class="  flex-col p-2 form-input border border-gray-300 rounded" />
                    </div>
                    <div class="w-full sm:w-1/3">
                        <label for="tipo_archivo" class="form-label block font-medium mb-1">Tipo de archivo:</label>
                        <select name="tipo_archivo" class="form-input border border-gray-300 rounded p-2">
                            <option value="" disabled selected>Elige una opción</option>
                            {% for tipo in tipo_archivo %}
                                <option value="{{ tipo.name }}" {% if request.args.get('tipo_archivo') == tipo.name %} selected {% endif %}>{{ tipo.value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="w-full sm:w-1/3">
                        <label for="order_by" class="form-label block font-medium mb-1">Orden:</label>
                        <select name="order_by" class="form-input border border-gray-300 rounded p-2">
                            <option value="" disabled selected>Orden</option>
                            <option value="nombre-asc" {% if request.args.get('order_by') == 'nombre-asc' %} selected {% endif %}>Nombre A-Z</option>
                            <option value="nombre-desc" {% if request.args.get('order_by') == 'nombre-desc' %} selected {% endif %}>Nombre Z-A</option>
                            <option value="fecha-asc" {% if request.args.get('order_by') == 'fecha-asc' %} selected {% endif %}>Fecha ascendente</option>
                            <option value="fecha-desc" {% if request.args.get('order_by') == 'fecha-desc' %} selected {% endif %}>Fecha descendente</option>
                        </select>
                    </div>
                     <div class="flex justify-center mt-4">
                        <button type="submit" class="bg-primary text-primary-foreground h-10 px-4 py-2 rounded">
                            <span class="material-symbols-outlined">search</span>
                        </button>
                        <a href="{{ url_for('riders.clear_all_filters', dni=rider.dni) }}" class="bg-primary text-primary-foreground h-10 px-4 py-2 rounded">
                            <span class="material-symbols-outlined">mop</span>
                        </a>
                    </div>
                </div>
            </form>
    </div>

       <div class="bg-gray-100 p-4 sm:p-6 rounded-lg">
        <div class="w-full mx-auto">
            <div class="bg-white shadow-md rounded-lg overflow-hidden">
                <div class="grid sm:grid-cols-1 md:grid-cols-5 gap-4 p-4 bg-gray-50 font-medium text-xs uppercase text-gray-500 tracking-wider">
                         <div class="col-span-5 sm:block md:hidden text-center">Archivos</div>
                    <div class="col-span-2 hidden md:block">Nombre</div>
                    <div class="hidden md:block">Tipo</div>
                    <div class="hidden md:block">Fecha adición</div>
                    <div class=" hidden md:block ">Acciones</div>
                    </div>
                    <div class="divide-y divide-gray-200">
{% if documents %}
{% for documento in documents %}
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 gap-2 p-2 items-center hover:bg-gray-50">
    {% if documento.es_enlace %}
    <div class="col-span-2 flex gap-2 items-center">
        <a href="{{ documento.nombre }}" class="text-blue-600 break-words text-xs sm:text-sm font-medium" target="_blank" rel="noopener noreferrer">{{ documento.nombre }}</a>
    </div>
    {% else %}
    <div class="col-span-2 flex gap-2">
        <div class="text-xs sm:text-sm font-medium text-gray-900">{{ documento.nombre }}</div>
    </div>
    {% endif %}
    
    <div class="text-xs sm:text-sm text-gray-500">{{ documento.tipo.value }}</div>
    <div class="text-xs sm:text-sm text-gray-500">{{ documento.fecha }}</div>

    {% if not documento.es_enlace %}
        <div class="flex gap-2 items-center sm:mt-2">
            <a href="{{ documento.preview }}" class="text-gray-500 hover:text-blue-500" title="Ver">
                <span class="material-symbols-outlined">visibility</span>
            </a>
            <a href="{{ documento.link }}" class="text-gray-500 hover:text-blue-500" title="Descargar">
                <span class="material-symbols-outlined">download</span>
            </a>
            {% if is_system_admin(session) or check_permission(session, "rider_destroy") %}
            <form action="{{ url_for('riders.deleteDocument', dni=rider.dni) }}" method="post" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este documento?');" class="inline">
                <input type="hidden" name="document_id" value="{{ documento.id }}">
                <input type="hidden" name="document_nombre" value="{{ documento.nombre }}">
                <input type="hidden" name="document_es_enlace" value="{{ documento.es_enlace }}">
                <button type="submit" class="text-gray-500 hover:text-blue-500" title="Eliminar">
                    <span class="material-symbols-outlined">delete</span>
                </button>
            </form>
            {% endif %}
        </div>
    {% else %}
        {% if is_system_admin(session) or check_permission(session, "rider_destroy") %}
        <form action="{{ url_for('riders.deleteDocument', dni=rider.dni) }}" method="post" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este documento?');" class="inline sm:mt-2">
            <input type="hidden" name="document_id" value="{{ documento.id }}">
            <input type="hidden" name="document_nombre" value="{{ documento.nombre }}">
            <input type="hidden" name="document_es_enlace" value="{{ documento.es_enlace }}">
            <button type="submit" class="text-gray-500 hover:text-blue-500" title="Eliminar">
                <span class="material-symbols-outlined">delete</span>
            </button>
        </form>
        {% endif %}
    {% endif %}
</div>
{% endfor %}
{% else %}
<div class="p-2 text-center text-gray-500">
    No se encontraron resultados bajo estos criterios
</div>
{% endif %}


</div>
                </div>
            </div>
        </div>
    </div>
    {% if is_system_admin(session) or check_permission(session, "rider_submit_files")%}
<div class="flex space-x-2 justify-between">
    <!-- Button to trigger modal -->
    <button type="button" class="submit-button flex items-center w-auto mt-2" onclick="document.getElementById('uploadModal').classList.remove('hidden')">
        <span class="material-symbols-outlined">Upload</span>
        Cargar Archivo
    </button>
    <button type="button" class="submit-button flex items-center w-auto mt-2" onclick="document.getElementById('uploadLinkModal').classList.remove('hidden')">
        <span class="material-symbols-outlined">Upload</span>
        Cargar Link
    </button>
    </div>
{% endif %}

<div id="uploadModal" class="fixed inset-0 flex items-center justify-center backdrop-blur-3xl rounded-lg hidden max-w-full w-auto">
    <div class="bg-white rounded-lg p-6 shadow-lg">
        <h2 class="text-xl font-bold mb-4">Cargar Archivo</h2>
        <form action="{{ url_for('riders.submit_files', dni=rider.dni) }}" method="post" enctype="multipart/form-data">
            <div class="mb-4">
                <label for="tipo_archivo" class="form-label block mb-2">Tipo de archivo:</label>
                <select name="tipo_archivo" id="tipo_archivo" class="form-input border rounded w-full p-2" required>
                    <option value="" disabled selected>Seleccione un tipo</option>
                    {% for tipo in tipo_archivo %}
                        <option value="{{ tipo.name }}">{{ tipo.value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-4">
                <label for="fileUpload" class="form-label block mb-2">Seleccionar archivo:</label>
                <input type="file" id="fileUpload" name="file" class="form-input border rounded w-full p-2" required />
            </div>
            <div class="flex justify-end">
                <button type="button" class="mr-2 p-2 bg-gray-300 rounded" onclick="document.getElementById('uploadModal').classList.add('hidden')">Cancelar</button>
                <button type="submit" class="p-2 bg-blue-500 text-white rounded">Cargar</button>
            </div>
        </form>
    </div>
</div>

<div id="uploadLinkModal" class="fixed inset-0 flex items-center justify-center backdrop-blur-3xl rounded-lg hidden max-w-full w-auto">
    <div class="bg-white rounded-lg p-6 shadow-lg">
        <h2 class="text-xl font-bold mb-4">Cargar Link</h2>
        <form action="{{ url_for('riders.submit_links', dni=rider.dni) }}" method="post" enctype="multipart/form-data">
            <div class="mb-4">
                <label for="tipo_link" class="form-label block mb-2">Tipo de link:</label>
                <select name="tipo_link" id="tipo_link" class=" form-input border rounded w-full p-2" required>
                    <option value="" disabled selected>Seleccione un tipo</option>
                    {% for tipo in tipo_archivo %}
                        <option value="{{ tipo.name }}">{{ tipo.value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-4">
                <label for="linkUpload" class="form-label block mb-2 min-w-80">Seleccionar Link:</label>
                <input class="form-input p-2" type="url" name="link" placeholder="Introduce el enlace aquí" required>
            </div>
           
            <div class="flex justify-end">
                <button type="button" class="mr-2 p-2 bg-gray-300 rounded" onclick="document.getElementById('uploadLinkModal').classList.add('hidden')">Cancelar</button>
                <button type="submit" class="p-2 bg-blue-500 text-white rounded">Cargar</button>
            </div>
        </form>
    </div>
</div>


</div>
{% endblock %}
