{% extends "layout.html" %} {% block title %} Ver Usuario {% endblock %} {%
block head %} {{ super() }} {% endblock %} {% block content %}
<div class="w-full max-w-6xl mx-auto">
	{% if errors %} {% for error in errors %}
	<div
		class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
		role="alert">
		<strong class="font-bold">Error!</strong>
		<span class="block sm:inline">{{ error }}</span>
	</div>
	{% endfor %} {% endif %}
	<a
		class="flex rounded-md relative w-fit"
		href="{{url_for('modulo_usuarios.listado')}}"
		alt="volver a equipo">
		<span class="material-symbols-outlined"> arrow_back </span>
		<span class="material-symbols-rounded"> groups </span>
	</a>
	<h1
		class="flex justify-center items-center text-center text-2xl font-bold my-4">
		Visualizando Usuario "{{ user.alias }}"
	</h1>
	<div
		class="w-full max-w-6xl mx-auto p-6 bg-white rounded-lg shadow-md relative flex flex-col justify-between">
		<div class="flex flex-col space-y-6 my-1">
			<div class="min-w-[120px] w-full sm:w-auto">
				<p><strong>Email:</strong> {{ user.email }}</p>
			</div>

			<div class="min-w-[120px] w-full sm:w-auto">
				<p><strong>Alias:</strong> {{ user.alias }}</p>
			</div>

			<div class="min-w-[120px] w-full sm:w-auto">
				<p>
					<strong>Rol de Usuario:</strong> {{ roles[user.rol_id - 1].nombre }}
				</p>
			</div>

			{% if user.dni_empleado %}
			<div class="min-w-[120px] w-full sm:w-auto">
				<p>
					<strong>El Usuario es Empleado, su DNI es:</strong>
					{{user.dni_empleado}}
				</p>
			</div>
			{% endif %}

			<div class="min-w-[120px] w-full sm:w-auto">
				{% if user.bloqueado %}
				<h2 class="font-bold text-red-400">Usuario Bloqueado</h2>
				{% else %}
				<h2 class="font-bold text-green-400">Usuario Activo</h2>
				{% endif %}
			</div>

			{% if user.system_admin %}
			<div class="min-w-[120px] w-full sm:w-auto">
				<h2 class="font-bold text-red-400">Usuario Administrador</h2>
			</div>
			{% endif %}

			<div class="min-w-[120px] w-full sm:w-auto">
				<p>
					<strong>Fecha de Alta:</strong>
					{{user.creado_en.strftime("%d/%m/%Y")}}
				</p>
			</div>

			<div class="min-w-[120px] w-full sm:w-auto">
				<p>
					<strong>Ultima vez modificado:</strong>
					{{user.modificado_en.strftime("%d/%m/%Y")}}
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
